[Unit]
Description=WSO2 DSS Service

[Service]
Type=forking
User={{ wso2_dss_user }}
Group={{ wso2_dss_user }}
Environment="CARBON_HOME=/opt/wso2dss"
Environment="JAVA_HOME=/usr/java/latest"
ExecStart=/opt/wso2dss/bin/wso2server.sh start
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target
